<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#0000FF">
  <meta name="background-color" content="#F5F5F5">
  <title><%= yield(:title) || "Nebula By Grabians" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'custom' %>
</head>
<body class="bg-gray-100">
  <%= render 'layouts/shared/navbar' %>

  <div class="container mx-auto mt-8 px-4">
    <%= yield %>
  </div>

  <footer class="bg-gray-800 text-white text-center p-4 mt-8">
    © <%= Time.current.year %> Nebula By Grabians. All rights reserved.
  </footer>
</body>
</html>
